# PocketBase Configuration
VITE_POCKETBASE_URL=http://127.0.0.1:8090

# Stripe Configuration
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51NmUASSJUPJmjHEnBmf6ZopNoR2umySGA7S8tF8QalgFJUHLxKLaUvdyJo8NnaqBYzEjFc0XFT3MPijeLQ84oASl00r9JYjOH3
VITE_STRIPE_SECRET_KEY=sk_test_51NmUASSJUPJmjHEnQLu3b4pC5sXIwl3KZBrjOPSIl3TAr0YLn6vhJTBy16ZjBN6cCeA464hd1yQUQNOC6HdPzflR0058cGkNdS
VITE_STRIPE_API_URL=https://api.stripe.com/v1

# Application Configuration
VITE_APP_URL=http://localhost:5173

# SMTP
VITE_SMTP_HOST=sandbox.smtp.mailtrap.io
VITE_SMTP_PORT=465
VITE_SMTP_USER=18dcc19615dd4f
VITE_SMTP_PASS=a4f54cc20bdb1e
VITE_SMTP_SECURE=true
VITE_EMAIL_FROM_NAME=Expense Manager Pro
VITE_EMAIL_FROM_ADDRESS=noreply@expensemanagerpro.com
